@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,400;1,200&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
html{
    overflow-x: hidden;
}
:root{
    --headingcolor:#8e43e7;
    --link:#3f3a64;
    --hero:rgba(147, 107, 232, 0.05);
    --text:#696969;
}
.main{
    width: 100%;
    height: 100vh;
}
header{
    width: 100%;
    height: 13vh;
    background-color: white;
    box-shadow: 0 3px 9px rgba(0,0,0,0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}
.logo{
    font-size: 30px;
    color: var(--headingcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.logo i{
    font-size: 35px;
}
nav ul{
    display: flex;
    gap: 30px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: var(--link);
}
.active{
    color: var(--headingcolor);
}
.menu{
    padding: 5px;
    border-radius: 5px;
    background-color: var(--headingcolor);
    cursor: pointer;
    display: none;
}
.menu i{
    font-size: 30px;
    color: white;
}
.hero{
    width: 100%;
    height: 87vh;
    background-color: var(--hero);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.right img{
    width: 550px;
    height: 550px;
}
.left{
    width: 550px;
}
.left h3{
    color: gray;
    margin-bottom: 15px;
}
.left h1{
    font-size: 50px;
    color: var(--link);
    margin-bottom: 15px;
}
.left span{
    font-weight: 200;
    color: black;
}
.left p{
    font-size: 18px;
    color: var(--text);
    line-height: 25px;
    margin-bottom: 40px;
}
.btn{
    display: flex;
    gap: 20px;
}
.btn button{
    width: 150px;
    height: 55px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}
.btn1{
    background-color: var(--headingcolor);
    color: white;
    border: none;
}
.btn2{
    background: none;
    border: 1px solid var(--headingcolor);
    color: var(--headingcolor);
    transition: 0.3s;
}
.btn2:hover{
    background-color: var(--headingcolor);
    color: white;
}
.add{
    display: block;
}

/* responsive */

@media(max-width:768px){
    header{
        position: relative;
        padding: 0px 50px;
    }
    nav{
       position: absolute;
       top: 13vh;
       left: 0;
       width: 100%;
       height: auto;
       background-color: whitesmoke;
       display: none;
    }
    nav ul{
        display: block;
        text-align: center;
    }
    nav ul li{
        padding: 10px;
    }
   
    .menu{
        display: block;
    }
    .hero{
        height: auto;
        gap: 20px;
        flex-direction: column-reverse;
    }
    .right img{
        width: 400px;
        height: 400px;
    }
    .left{
        width: 100%;
        padding: 20px;
    }
}